<h2 class="ui dividing header">Products</h2>


 {{link-to  "New Product" 'dashboard.inventory.new' }}




 {{#each itemOneProduct as |itemOneProduc|}}

 {{itemOneProduc.producttype.typename}}

 {{/each}}
<div class="ui top attached tabular menu">
  {{#each producttypes as |producttype|}}
  <a class="item {{producttype.activeclass}}" {{action "changeActiveClass" producttype}} data-tab="{{producttype.typename}}">{{producttype.typename}}</a>
  {{/each}}
</div>



{{filterComputed}}
{{itemOneProduct}}
{{#each producttypes as |producttype|}}
<div class="ui bottom attached tab segment {{producttype.activeclass}} " data-tab="{{producttype.typename}}">
  {{models-table
    data=computedProducts
    columns=columns
  }}
</div>
{{/each}}

{{outlet}}

<script>
$('.menu .item')
  .tab()
;
</script>
{{outlet}}
